<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paystack and Flask Demo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/success.css') }}">
</head>

<body>
  <!doctype html>
  <html>

  <head>
    <style>
    </style>
  </head>

  <body>
    <div class="nav">Payment gateway ( demo )</div>
    <div class="root">
      <div class="wrapper">
        <p>Thank you for your order!</p>
        <p>Id: {{ tr_id }} </p>
        <p>Amount : NGN {{ amount }} </p>
        <p>Status : <span class="green">{{ message }}</span></p>

        <p class="link"><a href="/">Home</a></p>
      </div>
    </div>
  </body>

  </html>